astroid==2.4.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
decorator==4.4.2
greenlet==1.0.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
isort==5.7.0
jedi==0.18.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
moviepy==1.0.3
msgpack==1.0.2
neovim==0.3.1
numpy==1.20.0
parso==0.8.1
Pillow==8.1.0
proglog==0.1.9
Pygments==2.7.4
pylint==2.6.0
pynvim==0.4.2
requests==2.25.1
rich==9.10.0
six==1.15.0
toml==0.10.2
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.3
wrapt==1.12.1
yapf==0.30.0
